{% extends 'base.html' %}

{% block content %}
<div class="row">
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="submit" class="btn btn-primary btn-block" value="{{button_name|default:'Сохранить'}}">
                        </div>
                    </div>
                </form>

            </div>
        </div>
{% endblock %}