{% extends 'base.html' %}

{% block content %}
<!-- Begin page content -->
        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут пусто, скоро мы это исправим!</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-2">
                Список сниппетов:
                <table border="1">
                    {% for i in snippets %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.lang}}</td>
                        <td>{{i.code}}</td>
                        <td>{{i.creation_date}}</td>
                    </tr>

                    {% endfor %}
                </table>


            </div>
        </div>
{% endblock %}
